.cursors {
  cursor: pointer;
}

.hight {
  height: 70px !important;
}

.hight-signup {
  height: 50px !important;
}

.br {
  border-radius: 25px;
}

.margin {
  margin-top: 100px;
}
.right h1 {
  font-weight: 800;
  font-size: 68px;
}
.sign-text {
  margin: 10px auto;
  text-align: center;
  border: 1px solid rgb(223, 221, 221);
  border-radius: 15px;
  width: 280px;
  height: 30px;
}

.right p{
  width: 400px;
}
.bottom p{
  font-size: small;
}
.Link{
  text-decoration: none !important;
  color: black !important;
}
.img-fluid{
  height: 600px !important;
}